# this only shows what is possible, the tests shown here are pretty trivial

# there is a global 'checks' directory in the root of your tests
is_true.py exists(stdout.txt)

# we can either use an existing application directly
grep hello file(stdout.txt)

# or, in some cases we might have to write a script
check_hello_string=check_for_some_string.py hello content(stdout.txt)

