# this only shows what is possible, the tests shown here are pretty trivial

# there is a global 
is_true.py exists(stdout.txt)

# we can either use an existing application directly
grep ISBN file(stdout.txt)

# or, in some cases we might have to write a script
check_for_ISBN_string.py content(stdout.txt)

