# this only shows what is possible, the tests shown here are pretty trivial

# there is a global 'checks' directory in the root of your tests
check_stdout_exists=is_true.py exists(stdout.txt)
check_warfarin_xmlx_exists=is_true.py exists(warfarin_PK_project_graphics.xmlx)
check_results_mat_exists=is_true.py exists(warfarin_PK_project/results.mat)

# we can either use an existing application directly
check_stdout_content=grep estimation file(stdout.txt)
check_pop_parameters_content=grep estimation file(warfarin_PK_project/pop_parameters.txt)



